@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<partial name="PartialViews/DetailsDeleteDepartmentView" />
<div class="col-3">
   <a asp-action="Index" class="btn btn-info">Back to list</a>
</div>

