@{
    ViewData["Title"] = "The First Page";
}
    
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
          <div class="text-center">
                <h1 class="display-4">Ahlen , Mohammed</h1>
                <img src="~/images/background.jpg" style="max-width:10%;"/>
                <h3>To go to employees<a asp-action="Employees" class="btn btn-primary">click here</a></h3>
                <h3>View<a asp-action="AllEmployees" class="btn btn-primary">All Employees</a></h3>
          </div>
    </body>
</html>
