@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<form asp-action="Create" class="mt-3">
    <partial name="PartialViews/CreateEditEmployeePartialView" />
    <input type="submit" value="Submit" class="btn btn-primary"/>|
    <a asp-action="Index" class="btn btn-info">Back to list</a>
</form>

@section validationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}