@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete This Employee ?</h1>


<form asp-action="Delete" class="mt-3">
    <input hidden asp-for="Id" />
    <partial name="PartialViews/DetailsDeleteEmployeePartialView" />
    <input type="submit" value="Delete" class="btn btn-danger" />|
    <a asp-action="Index" class="btn btn-info">Back to list</a>
</form>
